[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
requests = "*"
pandas = "*"
googletrans = "*"

[dev-packages]
coverage = "*"
django-debug-toolbar = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
